.form_sec {
  display: flex;
}

.form_div {
  max-width: 360px;
  margin: 0 auto;
  background: rgba(0 0 0 0.8);
  border-radius: 5px;
}

.form_headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  text-align: center;
  margin-top: 70px;
}

.form__inputs {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.form__fields {
  font-family: Helvetica, Arial, sans-serif;
}

.form__inputs input {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #eac85e;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.form__textarea textarea {
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #eac85e;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100px;
}

.btn {
  background: #eac85e;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .form_sec {
    background-image: url('../img_components/form_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    display: flex;
  }

  .form__fields {
    display: flex;
  }
}
