.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

/*úvodní odstavec*/
.form__opening {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  justify-content: center;
  width: 80%;
  margin: 0 10%;
  border-radius: 2px;
}

.form__opening__h {
  text-align: center;
  padding: 50px 16px 0 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 24px;
}

.form__opening__p {
  padding: 16px 16px 0 16px;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.form__opening__f {
  padding: 0 16px 36px 16px;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: bold;
}

/*formulář   justify-content: center;
  align-items: center;*/

.form_div {
  width: 80%;
  margin: 0 10%;
}

.form_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  padding: 40px 0 20px 0;
}

.form__inputs {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 10px 0 20px;
  width: 300px;
}

.form__inputs input,
.form__textarea textarea {
  border: 0;
  border-bottom: 2px solid #eac85e;
  margin: 5px 0 15px 0;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.form__select {
  border: 0;
  border-bottom: 2px solid #eac85e;
  margin: 5px 0 15px 0;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.form__textarea textarea {
  height: 100px;
}

.form__checkbox {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

/*tlačítko -- upravit stylování! - jednou btn jednou sumbitted*/
.btn {
  background: #eac85e;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 60%;
  text-transform: uppercase;
}

.submitted__p {
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.submitted__link {
  color: black;
  text-decoration: none;
  margin-bottom: 36px;
  border-bottom: 3px solid #eac85e;
}

.submitted__link:hover {
  border-bottom: 3px solid transparent;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .form__opening {
    min-height: 280px;
  }

  .form__opening__p {
    padding: 36px 60px 0 60px;
  }

  .form_div {
    background: url('../img_components/form_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -200px;
    padding-bottom: 40px;
  }
  .btn {
    width: 30%;
  }
}

@media screen and (min-width: 991px) {
  .form_div {
    background: url('../img_components/form_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -100px;
    padding-bottom: 40px;
  }
}
