.ReactModal__Overlay--after-open {
  background-color: #e7e7e6;
}

.donateForm {
  display: flex;
  flex-direction: column;
  font-family: 'Rubik';
  font-size: 16px;
}

.ReactModal__Content--after-open {
  width: 60%;
  border: 3px solid #eac85e !important;
  line-height: 2;
}

.donateForm__label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.donateForm__input {
  width: 60%;
  border: 0;
  border-bottom: 2px solid #eac85e;
  margin: 0 0 15px 0;
  height: 30px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.donateForm__input--textarea {
  width: 100%;
  margin-bottom: 8px;
  border: 0;
  border-bottom: 2px solid #eac85e;
  margin: 5px 0 15px 0;
  height: 30px;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.donateForm__send {
  padding: 8px 12px;
  background-color: #eac85e;
  width: fit-content;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #eac85e;
  cursor: pointer;
  align-self: flex-end;
  text-transform: uppercase;
}

.donateForm__submitted{
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
}

.donateForm__send:hover {
  background: white;
}

.donateForm__close {
  border: none;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  background-image: url('../../img_components/icon__close.png');
  background-repeat: no-repeat;
  background-position: cover;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
}

.donateForm__close:hover {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 768px) {
  .ReactModal__Content--after-open {
    width: 50%;
  }

  .donateForm {
    margin: 0 8px;
  }

  .donateForm__input {
    width: 40%;
  }

  .donateForm__input--textarea {
    width: 80%;
  }
  .donateForm__send{
    width: 120px;
  }

  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 999;
  }
}
