.for {
  max-width: 100%;
}

.for__donors {
  display: flex;
  flex-direction: column;
}

.for__donors--foto {
  width: 90%vh;
  height: 280px;
  background-image: url('../img_components/for_donors.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 30px 5px 30px;
}

.for__schools {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.for__schools--foto {
  width: 90%vh;
  height: 280px;
  background-image: url('../img_components/for_schools.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px 30px 5px 30px;
}

.for__schools--a,
.for__donors--a {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: black;
  border-bottom: 3px solid transparent;
  width: fit-content;
  align-self: center;
}

.for__donors--a:hover,
.for__schools--a:hover {
  border-bottom: 3px solid #eac85e;
}

/* tablety */
@media screen and (min-width: 361px) and (max-width: 768px) {
  .for {
    display: flex;
    flex-shrink: 0;
  }

  .for__donors,
  .for__schools {
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 100px;
  }

  .for__donors--foto,
  .for__schools--foto {
    width: 90%;
    height: 350px;
  }

  .for__schools--foto {
    margin-top: 0;
  }

  .for__schools--a,
  .for__donors--a {
    font-size: 32px;
  }

  .for__donors--a:hover,
  .for__schools--a:hover {
    border-bottom: 3px solid #eac85e;
  }
}


@media screen and (min-width: 768px) {
  .for {
    display: flex;
    flex-shrink: 0;
  }

  .for__donors,
  .for__schools {
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 100px;
  }

  .for__donors--foto,
  .for__schools--foto {
    width: 90%;
    height: 500px;
  }

  .for__schools--foto {
    margin-top: 0;
  }

  .for__schools--a,
  .for__donors--a {
    font-size: 36px;
  }

  .for__donors--a:hover,
  .for__schools--a:hover {
    border-bottom: 3px solid #eac85e;
  }
}
