.for {
  width: 100%;
}

.for__donors {
  display: flex;
  flex-direction: column;
}

.for__donors--foto {
  width: 90%vh;
  height: 280px;
  background-image: url('../img_components/for_donors.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 30px 5px 30px;
}

.for__schools {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.for__schools--foto {
  width: 90%vh;
  height: 280px;
  background-image: url('../img_components/for_schools.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px 30px 5px 30px;
}

.for__schools--a,
.for__donors--a {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  color: black;
  border-bottom: 3px solid transparent;
  width: fit-content;
  align-self: center;
}

.for__donors--a,
.for__schools--a {
  border-bottom: 3px solid #eac85e;
}

/* tablety */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .for {
    display: flex;
    flex-shrink: 0;
  }

  .for__donors,
  .for__schools {
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 100px;
  }

  .for__donors--foto,
  .for__schools--foto {
    width: 90%;
    height: 350px;
  }

  .for__schools--foto {
    margin-top: 0;
  }

  .for__schools--a,
  .for__donors--a {
    font-size: 24px;
  }

  .for__schools--foto {
    margin: 0 30px 5px 15px;
  }

  .for__donors--foto {
    margin: 0 15px 5px 30px;
  }
}

@media screen and (min-width: 768px) {
  .for {
    display: flex;
    width: 80%;
    margin: 0 10%;
    justify-content: center;
  }

  .for__donors,
  .for__schools {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 100px;
  }

  .for__donors--foto,
  .for__schools--foto {
    width: 100%;
    height: 500px;
  }

  .for__donors--foto {
    margin: 0 0 5px 0;
  }

  .for__schools--foto {
    margin: 0 0 5px 0;
  }

  .for__schools--a,
  .for__donors--a {
    font-size: 36px;
  }

  .for__donors--a,
  .for__schools--a {
    border-bottom: 3px solid transparent;
  }
  .for__donors--a:hover,
  .for__schools--a:hover {
    border-bottom: 3px solid #eac85e;
  }

  .for__donors {
    align-items: flex-end;
    margin-right: 10px;
  }

  .for__schools {
    align-items: flex-start;
    margin-left: 10px;
  }
}
