.howItWorks__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0 0 60px 0;
  background-color: rgb(241, 242, 242);
}

.donate__h,
.apply__h {
  font-size: 28px;
  text-align: center;
  padding: 0 24px;
  font-family: 'Fira Sans Condensed';
}

.donate__container,
.apply__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  max-width: 500px;
}

.apply__container {
  margin-top: 36px;
}

.donate__step,
.apply__step {
  display: flex;
  width: 95%;
  margin: 1% 0;
}

.donate__p,
.apply__p,
.apply__p--link,
.donate__p--link {
  width: 70%;
  font-family: 'Rubik';
}

.apply__p--link,
.donate__p--link {
  margin-bottom: 2px;
  margin-right: 2px;
  width: fit-content;
}

.howItWorks__link {
  width: fit-content;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #eac85e;
  margin-bottom: 11px;
}

.donate__step1-img,
.donate__step2-img,
.donate__step3-img,
.apply__step1-img,
.apply__step2-img,
.apply__step3-img,
.apply__step4-img {
  width: 30%;
  max-width: 64px;
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
}

.donate__step1-img,
.apply__step2-img {
  background-image: url('../img_components/form.svg');
}

.donate__step2-img,
.apply__step3-img {
  background-image: url('../img_components/call.svg');
}

.donate__step3-img,
.apply__step4-img {
  background-image: url('../img_components/gift.svg');
}

.apply__step1-img {
  background-image: url('../img_components/write.svg');
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  .donate__step1-img,
  .donate__step2-img,
  .donate__step3-img,
  .apply__step1-img,
  .apply__step2-img,
  .apply__step3-img,
  .apply__step4-img {
    width: 28%;
    background-size: 35%;
  }

  .donate__h,
  .apply__h {
    font-size: 32px;
  }

  .donate__p,
  .donate__p--link .apply__p,
  .apply__p--link {
    font-size: 17px;
  }

  .donate__step,
  .apply__step {
    margin: 2% 0;
  }

  .donate__container,
  .apply__container {
    max-width: 500px;
  }

  .howItWorks__link:hover {
    border-bottom: 3px solid transparent;
  }
}

@media screen and (min-width: 768px) {
  .howItWorks__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: start;
  }

  .donate__h,
  .apply__h {
    padding: 0;
  }

  .howItWorks__wrapper > .apply__container,
  .howItWorks__wrapper > .donate__container {
    display: grid;
    grid-template-rows: 120px auto;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .donate__step,
  .apply__step {
    width: 90%;
  }

  .donate__step1-img,
  .donate__step2-img,
  .donate__step3-img,
  .apply__step1-img,
  .apply__step2-img,
  .apply__step3-img,
  .apply__step4-img {
    width: 28px;
    max-width: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 16px;
  }

  .donate__h,
  .apply__h {
    font-size: 40px;
    text-align: start;
  }

  .donate__p,
  .apply__p {
    width: 80%;
    padding-left: 4%;
    font-size: 17px;
  }

  .donate__p--link,
  .apply__p--link {
    width: 100%;
    font-size: 17px;
  }

  .howItWorks__link {
    margin-left: 4%;
  }

  .howItWorks__link:hover {
    border-bottom: 3px solid transparent;
  }
}
