.donate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate__opening {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  justify-content: center;
  width: 80%;
  margin: 0 10%;
  border-radius: 2px;
}

.donate__opening__h {
  text-align: center;
  padding: 50px 16px 0 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 24px;
}

.donate__opening__p {
  padding: 16px 16px 0 16px;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.donate__opening__lastP {
  padding: 0 16px 16px 16px;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-decoration: none;
  color: black;
  margin: 16px 0;
}

.donate__ads {
  display: flex;
  flex-direction: column;
}
.donate__ads--p {
  text-transform: uppercase;
  border-bottom: 2px solid #eac85e;
  padding-top: 20px;
  padding-bottom: 2px;
  align-self: center;
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin: 15px 10%;
  box-shadow: #eac85e 0px 5px 6px -1px, #eac85e 0px 2px 4px -1px;
}

.result__items {
  margin-left: 10px auto;
  font-size: 14px;
}

.result__items--item {
  margin: 15px;
}

.result__items--message {
  text-align: justify;
  margin: 15px;
}

.result__items--label {
  font-weight: bold;
}

.result__donate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__button {
  background: #eac85e;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: 150px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 80%;
  border: 2px solid #eac85e;
}

@media screen and (min-width: 768px) {
  .rd__mobile {
    display: none;
  }
  .donate__opening {
    min-height: 280px;
  }

  .donate__opening__p {
    padding: 36px 60px 0 60px;
  }

  .donate__ads--p {
    font-size: 28px;
  }

  .result {
    display: flex;
    justify-content: space-between;
    border-radius: 0%;
    box-shadow: none;
  }

  .result__table {
    width: 100%;
    padding: 10px 30px;
  }

  .result__table--header {
    border: 1px solid white;
    padding: 10px 0;
    text-align: Left;
  }

  .result__button {
    margin-bottom: 20px;
  }

  .result__table--item {
    min-width: 150px;
  }
}
