.rd__desktop {
  display: none;
}

.donate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate__opening {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  justify-content: center;
  width: 80%;
  margin: 0 10%;
  border-radius: 2px;
}

.donate__opening__h {
  text-align: center;
  padding: 50px 16px 0 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  font-size: 24px;
}

.donate__opening__p {
  padding: 16px 16px 0 16px;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.donate__opening__lastP {
  padding: 0 16px 16px 16px;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-decoration: none;
  color: black;
  margin: 16px 0;
}

.donate__ads {
  display: flex;
  flex-direction: column;
}
.donate__ads--p {
  text-transform: uppercase;
  border-bottom: 2px solid #eac85e;
  padding-top: 20px;
  padding-bottom: 2px;
  align-self: center;
  font-weight: bold;
}

.form__select__label {
}

.result {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid #eac85e;
  background-color: white;
  width: 80%;
  margin: 15px 10%;
}

.result__items {
  margin-left: 10px auto;
  font-size: 16px;
}

.result__items--item {
  margin: 15px;
}

.result__items--message {
  text-align: justify;
  margin: 15px;
}

.result__items--label {
  font-weight: bold;
}

.result__donate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result__button {
  background-color: white;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  border: 3px solid #eac85e;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
  padding: 10px;
}

.result__button:hover {
  background: #eac85e;
}

@media screen and (min-width: 768px) {
  .rd__mobile {
    display: none;
  }

  .rd__desktop {
    display: block;
  }

  .donate__opening {
    min-height: 280px;
  }

  .donate__opening__p {
    padding: 36px 60px 0 60px;
  }

  .donate__ads--p {
    font-size: 28px;
  }

  .result {
    display: flex;
    justify-content: space-between;
    border-radius: 0%;
    box-shadow: none;
  }

  .result__table {
    width: 100%;
    padding: 10px 30px;
  }

  .result__table--header {
    border: 1px solid white;
    padding: 10px 0;
    text-align: Left;
  }

  .result__button {
    margin-bottom: 20px;
  }

  .result__table--item {
    min-width: 150px;
  }

  /* modal open */
  .ReactModal__Content--after-open {
    width: 50%;
  }
}
