body{
  position: relative;
}

header {
  background-color: #eac85e;
  margin-bottom: -10vh;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(241, 242, 242, 1);
  position: fixed;
  width: 100%;
}

.header__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding: 0 20px;
}

.nav-row {
  display: none;
}

.nav-column {
  position: absolute;
  margin-right: -19px;
  top: 100%;
  background-color: black;
  white-space: nowrap;
  text-align: right;
}

.nav__a {
  font-size: 17px;
  text-decoration: none;
  display: block;
  color: rgb(244, 245, 245);
  padding: 20px;
}

.nav-btn {
  width: 3rem;
  height: 3rem;
  padding: 0 20px 0 0;
  border: none;
  background-color: inherit;
  background-image: url('../img_components/menu_black.png');
  background-size: contain;
  cursor: pointer;
}

.header__left {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  background-image: url('../img_components/logo_pruhled.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

/* je třeba změnit font weight na tlustčí,ale fuguje to jen z extrému do extrému. Zkusit stáhnout z google fonts */
.opening {
  font-size: 24px;
  text-align: center;
  height: 280px;
  padding: 0 13px;
  margin: 0;
  font-weight: normal;
}

.opening__projectName {
  margin: 0;
  padding-top: 70px;
}

.opening__projectSlogan {
  margin: 0;
}

/* resp. design pro tablety */
@media screen and (min-width: 420px) and (max-width: 768px) {
  .opening {
    height: 300px;
    font-size: 32px;
  }

  .opening__projectName {
    margin: 0;
    padding-top: 65px;
  }
}

/* responzivní design pro desktop */
@media screen and (min-width: 768px) {
  .opening {
    height: 60vh;
    font-size: 48px;
  }

  .opening__projectName {
    padding-top: 90px;
  }

  .nav-column {
    position: static;
    margin: 0;
  }

  .nav-row {
    display: block;
  }

  .nav__a {
    display: inline-block;
    font-size: 17px;
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-btn {
    display: none;
  }

  .header__right {
    padding: 10px 0px;
  }

  .header__right a {
    padding: 30px 4px 6px 4px;
    margin: 0 26px 0 26px;
    text-decoration: none;
    color: black;
    width: fit-content;
    border-bottom: 2px solid transparent;
  }

  .header__right a:hover {
    border-bottom: 2px solid black;
  }

  .header__container {
    background-color: #eac85e;
  }
}
