.aboutProject {
  background-color: #d79c77;
}

.aboutProject--h {
  text-align: center;
  padding-top: 60px;
}

.aboutProject--p {
  padding: 20px 40px 10px 40px;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 0px;
}

.aboutProject--foto {
  background-image: url('../img_components/oProjektu_foto.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  height: 200px;
  align-self: center;
  margin: 10px 30px;
  background-position-x: center;
}

@media screen and (min-width: 768px) {
  .aboutProject--p {
    padding: 20px 150px 100px 150px;
    font-size: 30px;
  }

  .aboutProject--h {
    font-size: 48px;
  }
}
