.aboutProject {
  background-color: #d79c77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutProject--h {
  text-align: center;
  padding-top: 60px;
}

.aboutProject--p {
  padding: 20px 40px 10px 40px;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 16px;
}

.aboutProject--foto {
  background-image: url('../img_components/oProjektu_foto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .aboutProject--p {
    padding: 20px 150px 100px 150px;
    font-size: 30px;
  }

  .aboutProject--h {
    font-size: 48px;
  }
}
