.aboutProject {
  background-color: #d79c77;
}

.aboutProject--h {
  text-align: center;
  padding-top: 60px;
}

.aboutProject--p {
  padding: 20px 40px 100px 40px;
  text-align: justify;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .aboutProject--p {
    padding: 20px 150px 100px 150px;
    font-size: 30px;
  }

  .aboutProject--h {
    font-size: 48px;
  }
}
