/*header*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eac85e;
  margin-top: 20px;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  background-image: url('img/logo_pruhled.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  margin: 15px;
}

.header__right {
  padding: 10px 0px;
}

.header__right a {
  padding: 30px;
  text-decoration: none;
  color: black;
}

.header__right a:hover {
  text-decoration: underline;
}
